@import "/src/assets/scss/inc/colors";

.cv-skill {
  border: 1px solid $color-independence;
  border-radius: 0.25em;
  transition: 150ms linear background-color;

  // * {
  //   transition: 150ms linear filter;
  // }

  &:hover {
    background: rgba($color: $color-independence, $alpha: 0.25);

    // * {
    //   filter: blur(4px);
    // }
  }
}

/* Header */

.cv-skill__header {
  display: flex;
  align-items: center;
  padding: 0.5em 0.75em;
}

.cv-skill__image {
  $size: 1.5em;

  width: $size;
  height: $size;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 0.5em;
}

.cv-skill__title {
  font-size: 1rem;
  font-weight: 600;
}

/* Content */

.cv-skill__content {
  display: grid;
  row-gap: 0.5em;
  justify-items: center;
  padding: 0.5em 0.75em;
}

.cv-skill__level {
  color: $color-small-text;
  text-transform: capitalize;
}