* {
  position: relative;
  box-sizing: border-box;
}

html {
  font: 1em/1 Manrope;
  color: white;
}

body {
  margin: unset;
  background: $color-raisin-1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: unset;
}

hr {
  width: 1px;
  border: unset;
  border-left: 1px solid $color-independence;
}

h2 {
  font-size: 1.35em;
}