.cv {
  display: grid;
  // row-gap: 1.5em;
  align-content: flex-start;
  justify-items: center;

  padding: 2.5em;
  margin: 5em 0;
  // border: 1px solid color("space-cadet", 1);
  // border-radius: 1em 1em 0 0;
  // transition: 250ms ease background-color;

  // &:hover {
  //   background: rgba($color: white, $alpha: 0.01);
  // }
}

@import "author";
@import "article";