/* SCSS HEX */
$color-space-cadet-1: hsl(226, 24%, 21%);
$color-raisin-1: hsl(215, 20%, 10%);
$color-raisin-2: hsl(225, 25%, 20%);
$color-raisin-3: hsl(225, 35%, 30%);
$color-space-cadet-1: hsl(226, 24%, 21%);
$color-space-cadet-2: hsl(222, 27%, 24%);
$color-independence: hsl(218, 32%, 29%);
$color-indigo-dye: hsl(211, 45%, 28%);
$color-prussian-blue: hsl(215, 37%, 20%);
$color-yale-blue: hsl(212, 45%, 30%);
$color-spanish-blue: hsl(210, 54%, 44%);

$color-small-text: hsl(215, 20%, 50%);